<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>
    <h1>You must sign in</h1>
    <p>So glad you could lorem ipsum dolor</p>

    <form name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/> <br>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/> <br>
            <div class="form-actions">
                <button type="submit" class="btn" onclick ="requestAuthentication()">Log in</button>
            </div>
        </fieldset>
    </form>
</body>

<script th:src="@{/assets/js/login.js}"></script>

</html>