<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
</head>
<body>
    <h1>You must sign in</h1>
    <p>So glad you could lorem ipsum dolor</p>

    <form action="">
        Username: <input type="text" id="username"> <br>
        Password: <input type="text" id="password"> <br>
        <button type="button" onclick ="requestAuthentication()">Submit</button>
    </form>
</body>

<script th:src="@{/assets/js/login.js}"></script>

</html>